body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.flexible-display{
    display: flex;
    margin-bottom: 150px;
    margin-top: 100px;
}
.padd-add{
    padding-top: 100px;
}
h1{
    font-size: 400%;
}
.block-span{
    display: block;
}
.text-orange{
    color: rgb(241, 158, 3);
}
.text-grey{
    color: rgb(146, 143, 143);
    font-weight: 300;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding-left: 4.5%;
    padding-right: 3%;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, salmon);
    padding: 20px 50px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
    box-shadow: 10px 10px 30px rgb(236, 130, 9);
}